<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Luxe Star</title>
</head>
<body>
    <div class="header">
        <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo">
        <nav class="nav">
            <a href="/menu" class="nav-button">Меню</a>
            <a href="/services" class="nav-button">Услуги</a>
            <a href="/contacts" class="nav-button">Контакты</a>
        </nav>
        <div class="login-container">
            <form action="/log">
                <button class="login-btn">Войти в аккаунт</button>
            </form>
        </div>
        <div style="height: 300px;"></div>
        <h1 class="text">Добро пожаловать в наш ресторан Luxe Star!</h1>
    </div>
    <div class="background"></div>
    <div class="content"></div>
    <div class="footer">
        <p>© 2024 Ресторан Luxe Star.</p>
    </div>
</body>
</html>
