<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Меню - Luxe Star</title>
</head>
<div class="header-background">
        <div class="header-overlay"></div>
        <div class="header">
            <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo">
            <h1>Наш ресторан Luxe Star</h1>
            <nav class="nav">
                <a href="/" class="nav-button">Главная</a>
                <a href="/services" class="nav-button">Услуги</a>
                <a href="/contacts" class="nav-button">Контакты</a>
            </nav>
        </div>
    </div>

<div class="menu-content">
    <h1>МЕНЮ РЕСТОРАНА</h1>

    <div class="menu-section">
        <h2>ОСНОВНЫЕ БЛЮДА</h2>

        <div class="menu-item">
            <div class="menu-item-name">
                Угольная рыба
                <div class="menu-item-desc">цветная капуста, чипсы из кожицы,пряный соус на основе креветок, лаймовый бешамель</div>
            </div>
            <div class="menu-item-price">2500 руб.</div>
        </div>

        <div class="menu-item">
            <div class="menu-item-name">
                Утка
                <div class="menu-item-desc">утиное филе, соус из купажированного вина, пюре тыква-топинамбур, сельдерей в мандариновом уксусе
</div>
            </div>
            <div class="menu-item-price">3100 руб.</div>
        </div>

        <div class="menu-item">
            <div class="menu-item-name">
                Палтус
                <div class="menu-item-desc">вотеркресс, репа, сливочный соус на основе мидий</div>
            </div>
            <div class="menu-item-price">4200 руб.</div>
        </div>

    <div class="menu-item">
            <div class="menu-item-name">
                Филе миньон
                <div class="menu-item-desc">пюре из пастернака, демигляс</div>
            </div>
            <div class="menu-item-price">4900 руб.</div>
        </div>
    </div>

    <div class="menu-section">
        <h2>ГАРНИРЫ</h2>

        <div class="menu-item">
            <div class="menu-item-name">
               Французское пюре
            </div>
            <div class="menu-item-price">900 руб.</div>
        </div>

        <div class="menu-item">
            <div class="menu-item-name">
                Овощи с сырным соусом и кремом из базилика
            </div>
            <div class="menu-item-price">1400 руб.</div>
        </div>
    </div>

    <div class="menu-section">
        <h2>СУПЫ</h2>

        <div class="menu-item">
            <div class="menu-item-name">
               Гаспачо с сорбетом из печёного болгарского перца
                <div class="menu-item-desc">гаспаччо с пепперони, посыпанный сорбетто</div>
            </div>
            <div class="menu-item-price">950 руб.</div>
        </div>

        <div class="menu-item">
            <div class="menu-item-name">
                Сицилийский рыбный суп
                <div class="menu-item-desc">сицилийское рыбное рагу</div>
            </div>
            <div class="menu-item-price">2550 руб.</div>
        </div>

        <div class="menu-item">
            <div class="menu-item-name">
               Суп-пюре из молодого зелёного горошка со шпинатом,
рикоттой и мятой
                <div class="menu-item-desc">суп-пюре из молодого зелёного горошка со шпинатом</div>
            </div>
            <div class="menu-item-price">750 руб.</div>
        </div>
    </div>

    <div class="menu-section">
        <h2>ПАСТА</h2>

        <div class="menu-item">
            <div class="menu-item-name">
               Спагетти с помидорами и бурратой
                <div class="menu-item-desc">спагетти с помодоро буррата и базиликом</div>
            </div>
            <div class="menu-item-price">1850 руб.</div>
        </div>

        <div class="menu-item">
            <div class="menu-item-name">
                Спагетти с морепродуктами
                <div class="menu-item-desc">спагетти с морепродуктами</div>
            </div>
            <div class="menu-item-price">1400 руб.</div>
        </div>

        <div class="menu-item">
            <div class="menu-item-name">
               Спагетти с боттаргой из икры кефали, помидорами,
каперсами и оливками
                <div class="menu-item-desc">спагетти с помодоро, оливками, каппери и боттаргой ди муджине</div>
            </div>
            <div class="menu-item-price">900 руб.</div>
        </div>
    </div>

    <div class="menu-section">
        <h2>БАР</h2>

        <div class="menu-item">
            <div class="menu-item-name">
               Вода - SAN BENEDETTO STILL / SPARKLIN
            </div>
            <div class="menu-item-price">500 руб.</div>
        </div>

        <div class="menu-item">
            <div class="menu-item-name">
                COCA-COLA
            </div>
            <div class="menu-item-price">800 руб.</div>
        </div>

        <div class="menu-item">
            <div class="menu-item-name">
                Черный Цейлон
            </div>
            <div class="menu-item-price">900 руб.</div>
        </div>

        <div class="menu-item">
            <div class="menu-item-name">
                Чай Сентя Сё
            </div>
            <div class="menu-item-price">900 руб.</div>
        </div>

        <div class="menu-item">
            <div class="menu-item-name">
                Американо
            </div>
            <div class="menu-item-price">390 руб.</div>
        </div>

        <div class="menu-item">
            <div class="menu-item-name">
                Эспрессо
            </div>
            <div class="menu-item-price">390 руб.</div>
        </div>

        <div class="menu-item">
            <div class="menu-item-name">
                Капучино/Латте
            </div>
            <div class="menu-item-price">490 руб.</div>
        </div>
    </div>
</div>

    <div class="footer">
        <p>© 2024 Ресторан Luxe Star.</p>
    </div>
</body>
</html>