<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Регистрация в аккаунт</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Регистрация</h2>
        <form method="POST">
            <a>Введите почту</a>
            <input type="text" name="email" placeholder="Введите почту">
            <a>Введите пароль</a>
            <input type="password" name="password" placeholder="Введите пароль">
            <a>Повторите пароль</a>
            <input type="password" name="repeat_password" placeholder="Повторите пароль">
            <a>Ваше имя</a>
            <input type="text" name="name" placeholder="Ваше имя">
            <a>6-ти значный код восстановления</a>
            <input type="text" name="recovery_code" placeholder="Введите код восстановления">
            <a>Зарегистрироваться</a>
            <button type="submit">Зарегистрироваться</button>
        </form>
    </div>
</body>
</html>
