html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    color: #fff;
    text-shadow: #000 -1px -1px 0,
                 #000 1px 1px 0;
    overflow-x: hidden;
    position: relative;
}

.header {
    max-width: 100%;
    text-align: center;
    position: relative;
}

.nav {
    margin-top: 15px;
}

.nav-button {
           background: none;
           border: none;
           outline: none;
           font-family: 'Playfair Display', serif;
           font-size: 18px;
           color: #fff;
           text-transform: uppercase;
           letter-spacing: 1px;
           position: relative;
           padding: 10px 20px;
           cursor: pointer;
           transition: all 0.3s ease;
           text-decoration: none;
           display: inline-block;
}

.nav-button::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #333;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.3s ease;
}

.nav-button:hover {
            color: #fff;
            transform: translateY(-5px);
}

.nav-button:hover::after {
            transform: scaleX(1);
            transform-origin: left;
}

.nav-button:active {
            transform: translateY(-3px);
}

.logo {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 5px;
    width: 300px;
}

.content {
    flex: 1;
    padding: 20px;
}

.background {
    background-image: url('../img/restaurant_background.gif');
    background-size: cover;
    background-position: center;
    position: absolute;
    max-width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.menu-container {
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    padding: 20px;
}

.menu-content {
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    width: 100%;
}